Package: me.luki.aria
Name: Aria
Version: 0.9.2~RC
Architecture: iphoneos-arm
Description: Add some flavors to the stock CC or Prysm on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.aria
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.aria/depiction.json
