Package: me.luki.aria
Name: Aria
Version: 0.9.8~RC
Architecture: iphoneos-arm
Description: Enhance the stock CC or Prysm on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Icon: https://raw.githubusercontent.com/Luki120/Aria/main/AriaPrefs/Resources/Assets/AriaIcon.png
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.aria
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.aria/depiction.json
